{% extends "layout.html" %}
{% block content %}
    {% for test in tests %}

        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('edit_test', test_id=test.id) }}">{{ test.name }}</a>
              <small class="text-muted">{{ test.description }}</small>
            </div>

              {% if test.status == "New" %}
                <span style="background-color:red; color:white; width:20"> {{test.status}}</span>
              {% elif test.status == "In progress" %}
                <span style="background-color:grey; color:white; width:20"> {{test.status}}</span>
              {% else %}
              <span style="background-color:green; color:white; width:20"> {{test.status}}</span>
              {% endif %}
            <div>
                <p class="article-content">{{ test.start_date.strftime('%Y/%m/%d') }} - {{ test.end_date.strftime('%Y/%m/%d') }}</p>
                <a class="btn btn-outline-primary btn-sm" href=" {{url_for('get_test_results', test_id=test.id)}}"> Show results</a>
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal-{{test.id}}"> Delete</button>
            </div>
          </div>

        </article>

        <div class="modal fade" id="deleteModal-{{test.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteModalLabel">Delete Test?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-footer">
                  <button type="button"  data-dismiss="modal">Close</button>
                  <form action="{{ url_for('delete_test', test_id=test.id) }}" method="POST">
                    <input type="submit" value="Delete">
                  </form>
                </div>
              </div>
            </div>
        </div>


    {% endfor %}

    <div>
        <a class="btn btn-outline-success btn-lg active custom-button" href=" {{url_for('new_test')}}">  + Add test</a> <br>
    </div>
{% endblock content%}

